<!--The content below is only a placeholder and can be replaced.-->
<!-- <input type="text" [(ngModel)] = "name">  -->
<!-- Tells the angular to listen to this input and store it in its name and ouptut the name below-->
<!-- <p>{{ name }}</p> -->
<div class="container">
    <div class="row">
        <div class="col">
            <h3>I'm in the app component</h3>
            <hr>
            <app-servers></app-servers>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
</div>